/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*sign up page css starts===============================================================================================================*/

.background{
    background-image:url(../img/bg.jpg);
     background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    height: 500px;
    max-width: 100%;
}





.content{
overflow-x: hidden;

}

.signup{
    padding-top: 50px;
}

.signup p{
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Arvo', sans-serif;
    padding-top: 5px;
    margin-bottom: 10px;
}

.signup input{
    color: #567483;
    padding: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px dashed #24292c;
}

 .signup-form input[type="text"]:focus{
        outline:none;

    }

 .signup-form input[type="password"]:focus{
        outline:none;

    }
::-webkit-input-placeholder {
   color: #567483;
}

:-moz-placeholder { /* Firefox 18- */
   color: #567483;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #567483;  
}

:-ms-input-placeholder {  
   color: #567483;  
}

.signup-form input[type=checkbox]:checked + label, .signup-form input[type=checkbox]:checked + label {
        transition: background-color .3s, ease-in;
        text-align: center;
        background-color:#567483;
        color:#fffdf9;    
        border:none;   
    border: 2px solid #ecf0f1;

    }


    label {
        font-weight:300;
        transition: background-color .3s, ease-in;
        color: #ffffff;
        font-size: 15px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        margin: 5px;
        background-color: none;
        color:#222;
        border:2px solid #24292c;        
        padding: 5px 5px 5px 5px;
        width:15%;
        text-align: center;
        margin-left: 15px;
    }
    label:hover{
        background-color: #f0f0f0;
        transition: background-color .5s, ease-in ;
    }

    .signup-form input[type="checkbox"] {
        display: none;
        
    }        
@media(min-width:960px){
label{
        width: 3%;
    }
    .check {
    
    }
    .signup-form button{
        margin-left: auto;
        margin-right: auto;
    
    }
    
}
/*index page================================================================================================================================================================================================================================*/

header{
    background-color: #ecf0f1;
}

.content{
    overflow-y: hidden;
overflow-x: hidden;

}
.content h1, h4{
    text-align: center;
    font-family: 'Arvo', sans-serif;
}
.content h1{
    text-align: center;
    font-size: 2.5em;
    padding-left: 8px;
    padding-right: 7px;
    padding-top: 10%;
    font-weight: 700;
   margin-bottom: 0px;
}
.content h4{
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Arvo', sans-serif;
    
}
ul{
    font-family: 'Arvo', sans-serif;
}

.image img{
    width: auto;
    height: 250px;
   display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

@media(min-width:960px){
    
    .content h1{
        font-size: 5em;
        padding-bottom: 0px;
    }
        .content h4{    
            padding-top: 0px;
            font-size: 22px;
            font-weight: 300;
        }
    
    .content h1{
        padding-top: 0px;
    }

    }

/*=======================================dashboard==========================================================================================*/

.aside{
    background-color: white;
}

.circle {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width:120px;
height:120px;
border-radius:50%;
font-size:4em;
font-family: 'Arvo',sans-serif;
border: 1.5px dashed #93a9b4;
line-height:120px;
text-align:center;
color: #414141;
font-weight: 700;
}

.aside h1{
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Arvo',sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    color:#567483;
}

.aside h2{
    color: #414141;
    margin: 0px;
    text-align: center;
    font-family: 'Arvo',sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    padding-top: 2px;
    border-bottom: 1.5px dashed #93a9b4; 
        padding-bottom: 25px;
}
.battleground h1{
    margin-top: 30px;
    color: #414141;
    text-align: center;
    font-family: 'Arvo',sans-serif;
    font-weight: 700;
}
.battleground p{
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-family: 'Arvo',sans-serif;
    padding-bottom: 30px;
}

.battleground input[type="text"]{
    padding: 12px 12px 12px 15px;
    color: #567483;
}

.battleground input{
    margin-bottom: 5px;
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.battleground input[type="text"]:focus{
        outline:none;

    }

.heading h1,h5{
    display: none;
}

/*

footer{
    background-color: #ecf0f1;
    height: 80px;
    margin-top: 50px;
}
footer a{
    color: black;
    font-family: 'Arvo',sans-serif;
    font-weight: 700;
    text-align: center;
}
*/



@media(min-width:960px){
    
    .aside{
        margin-top:150px;
        border-right: 1px dashed #414141
    }
    .heading h1{
        margin-bottom: 0px;
        text-align: center;
        font-family: 'Arvo',sans-serif;
        font-weight: 700;    
    }
    .heading h5{
        text-align: center;
        font-family: 'Arvo',sans-serif;
        margin-top: 1px;
        font-weight: 300;
        font-size: 1em;
        margin-bottom: 20px;
        
    }
    
    .aside h2{
        border: none;
    }
    
    .battleground h1{
        padding-top: 55px;
        padding-bottom: 10px;
    }
    .battleground input{
        width: 30%;
    }
    .battleground button{
        display: block;
        
    }

}


/*==================================================================================================Leaderboard==========================================================================================================*/


.lead h1{
    font-family: 'Arvo', sans-serif;
    text-align: center;
    font-size: 30px;
    
}

.background{
    color:#414141;
}


@media(min-width:960px){
    .background section{
        display: none;
    }


}























/* ==========================================================================
   Helper classes
   ========================================================================== */

::-moz-selection { /* Code for Firefox */
    background: #ffd391;
}

::selection {
    background: #ffd391;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
